In [6]:
import pandas as pd 

data = pd.read_csv('../data/raw/rollingsales_manhattan.csv', skiprows=4, skip_blank_lines=True) 
data.dropna(how="all", inplace=True)

data_frame = data.replace(',', '', regex=True)

data_frame = pd.DataFrame(data)


print(data_frame.columns)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'],
      dtype='object')

In [8]:
print(data_frame.head(5))
print(data_frame.tail(5))

   BOROUGH   NEIGHBORHOOD  BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      1.0  ALPHABET CITY  01 ONE FAMILY DWELLINGS                    1
1      1.0  ALPHABET CITY  01 ONE FAMILY DWELLINGS                    1
2      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1
3      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1
4      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1

   BLOCK   LOT  EASE-MENT BUILDING CLASS AT PRESENT              ADDRESS  \
0  376.0  43.0        NaN                        S1  743 EAST 6TH STREET
1  400.0  19.0        NaN                        A4  526 EAST 5TH STREET
2  404.0   1.0        NaN                        B9         166 AVENUE A
3  404.0   1.0        NaN                        B9         166 AVENUE A
4  404.0   1.0        NaN                        B9         166 AVENUE A

  APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
0              NaN  ...                1.0               1.0          2.0
1              NaN  ...                1.0               0.0          1.0
2              NaN  ...                2.0               0.0          2.0
3              NaN  ...                2.0               0.0          2.0
4              NaN  ...                2.0               0.0          2.0

   LAND SQUARE FEET GROSS SQUARE FEET YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0             2,090             3,680     1940.0                        1.0
1             1,883             5,200     1900.0                        1.0
2             1,510             4,520     1900.0                        1.0
3             1,510             4,520     1900.0                        1.0
4             1,510             4,520     1900.0                        1.0

   BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
0                              S1    3,200,000   7/24/19
1                              A4    6,100,000   12/3/18
2                              B9            0   7/22/19
3                              B9            0  11/29/18
4                              B9            0  11/29/18

[5 rows x 21 columns]
       BOROUGH              NEIGHBORHOOD    BUILDING CLASS CATEGORY  \
17154      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17155      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17156      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17157      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17158      1.0  WASHINGTON HEIGHTS UPPER           44 CONDO PARKING

      TAX CLASS AT PRESENT   BLOCK     LOT  EASE-MENT  \
17154                    4  2174.0    97.0        NaN
17155                    4  2179.0   153.0        NaN
17156                    4  2179.0   154.0        NaN
17157                    4  2179.0   155.0        NaN
17158                    4  2180.0  1222.0        NaN

      BUILDING CLASS AT PRESENT                ADDRESS APARTMENT NUMBER  ...  \
17154                        V1       N/A NAGLE AVENUE              NaN  ...
17155                        V1  203 CABRINI BOULEVARD              NaN  ...
17156                        V1  205 CABRINI BOULEVARD              NaN  ...
17157                        V1  207 CABRINI BOULEVARD              NaN  ...
17158                        RG    736 WEST 187 STREET            PRK22  ...

       RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
17154                NaN               NaN          NaN             2,800
17155                NaN               NaN          NaN             1,928
17156                NaN               NaN          NaN             1,775
17157                NaN               NaN          NaN             1,555
17158                NaN               NaN          NaN               NaN

      GROSS SQUARE FEET YEAR BUILT  TAX CLASS AT TIME OF SALE  \
17154               NaN        0.0                        4.0
17155               NaN        0.0                        4.0
17156               NaN        0.0                        4.0
17157               NaN        0.0                        4.0
17158               160     2003.0                        4.0

       BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
17154                              V1       15,000   6/12/19
17155                              V1    3,000,000    9/4/18
17156                              V1            0    9/4/18
17157                              V1            0    9/4/18
17158                              RG            0   9/13/18

[5 rows x 21 columns]